@import './base/colors';
@import './base/font';
@import './base/helper';
@import './base/minxin';
@import './base/variables';
// @import './base/typographi';
@import './base/btn'; 
@import './base/reset';
@import './base/keyfame';

@import './layout/header';
@import './componemts/section';
@import './componemts/product';
@import './componemts/newpr';
@import './componemts/suggest';
@import './componemts/most';
@import './layout/footer';

@import './base/responsive';