@font-face {
  font-family: 'Poppins-Black';
  src: url("../../fonts/Poppins-Black.ttf");
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url("../../fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: 'Poppins-Light';
  src: url("../../fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url("../../fonts/Poppins-Medium.ttf");
}

.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto 40px;
  padding: 0 10px;
}

.w100 {
  width: 100%;
}

.ptb0 {
  padding-top: 0;
  padding-bottom: 0;
}

.p020 {
  padding: 0 20px !important;
}

.p0 {
  padding: 0 !important;
}

.pb0 {
  padding-bottom: 0 !important;
}

.m0 {
  margin: 0 !important;
}

.mb0 {
  margin-bottom: 0;
}

.mr24 {
  margin-right: 24px;
}

.jc-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
}

.row + .row {
  padding-top: 24px;
}

.col {
  padding: 0 10px;
}

.col > a,
.col img {
  display: block;
  width: 100%;
}

.col-s {
  padding: 0 10px;
}

.col-1 {
  width: 100%;
}

.col-2 {
  width: 50%;
}

.col-3 {
  width: 33.3333%;
}

.col-4 {
  width: 25%;
}

.col-5 {
  width: 20%;
}

.col-9 {
  width: 11.111%;
}

.backdrop,
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
  display: none;
}

.overlay {
  background-color: #000000;
  opacity: 0.2;
}

.backdrop.active,
.overlay.active {
  display: block;
}

.header__list.active {
  color: #e34444 !important;
}

.show-js.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.index.active {
  position: relative;
}

.index.active::before {
  content: "";
  width: calc(100%);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 2px;
  background-color: #333;
  position: absolute;
  bottom: 0;
  left: 50%;
}

.index.active::after {
  content: "";
  display: block;
  border: 10px solid;
  border-color: #333 transparent transparent transparent;
  position: absolute;
  bottom: 6%;
  left: 50%;
  -webkit-transform: translate(-50%, 105%);
          transform: translate(-50%, 105%);
}

.interleaving {
  position: relative;
  padding: 0;
  margin: 0;
}

.interleaving::before, .interleaving::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.interleaving:hover:after {
  right: 50%;
  left: 50%;
  background: rgba(255, 255, 255, 0.2);
}

.interleaving:hover:before {
  top: 50%;
  bottom: 50%;
  background: rgba(255, 255, 255, 0.2);
}

.Curtain {
  display: block;
  position: relative;
}

.Curtain::after, .Curtain::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  z-index: 2;
}

.Curtain::after {
  left: 0;
  right: 100%;
}

.Curtain::before {
  right: 0;
  left: 100%;
}

.Curtain:hover::after {
  background-color: rgba(0, 0, 0, 0.3);
  right: 50%;
}

.Curtain:hover::before {
  background-color: rgba(0, 0, 0, 0.3);
  left: 50%;
}

.border {
  position: relative;
  display: block;
}

.border::before {
  content: "";
  position: absolute;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  z-index: 2;
  top: 15px;
  bottom: 15px;
  left: 15px;
  right: 15px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.border::after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.border:hover:before {
  border: 1px solid rgba(255, 255, 255, 0.8);
  -webkit-transform: scale(1);
          transform: scale(1);
}

.border:hover:after {
  -webkit-transform: scale(1);
          transform: scale(1);
  background-color: rgba(0, 0, 0, 0.3);
}

.border--right {
  border-right: 1px solid #eaeaea;
}

.on-sale {
  position: relative;
  overflow: hidden;
}

.on-sale::before {
  content: "sale!";
  background: #e34444;
  padding: 1px 40px;
  text-transform: uppercase;
  color: white;
  font-size: 9px;
  font-weight: 300;
  position: absolute;
  top: 5px;
  right: -40px;
  z-index: 6;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.Plus {
  position: relative;
  display: block;
}

.Plus::before {
  background: url(../images/plus.png) no-repeat scroll center center/60px 60px rgba(0, 0, 0, 0.3);
  content: "";
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  position: absolute;
  -webkit-transform: scale(0.4) rotateY(180deg);
          transform: scale(0.4) rotateY(180deg);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  height: 100%;
  width: 100%;
}

.Plus:hover:before {
  -webkit-transform: scale(1) rotate(0deg);
          transform: scale(1) rotate(0deg);
  opacity: 0.6;
  visibility: visible;
}

.NoPad {
  padding: 0 !important;
}

.scale {
  display: block;
  position: relative;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.scale::after {
  content: "";
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.scale:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.scale:hover::after {
  opacity: 1;
  visibility: visible;
}

.posiRe {
  position: relative !important;
}

.arrow {
  position: relative;
}

.arrow::after, .arrow::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 15px solid;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  opacity: 0;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.arrow::after {
  border-color: transparent transparent red transparent;
  left: 50%;
  top: 26px;
}

.arrow::before {
  border-color: transparent transparent rgba(0, 0, 255, 0.3) transparent;
  left: calc(50% + 1px);
  top: 25px;
}

.stick {
  position: relative;
}

.stick::after {
  content: "";
  width: 1px;
  height: 20px;
  background-color: rgba(153, 153, 153, 0.383);
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.stick--left::after {
  left: 0;
}

.stick--right::after {
  right: 0;
}

.stick--sizeL::after {
  height: 70%;
}

.block {
  display: block;
}

.open {
  max-height: 1000px !important;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

@media screen and (max-width: 1180px) {
  .row-xl {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .col-xl-1 {
    width: 100%;
  }
  .displayNone-xl {
    display: none;
  }
}

.btn {
  display: inline-block;
  text-align: center;
  border: none;
  font-size: 1.6rem;
  font-weight: 700;
  background-color: white;
  color: #333;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.btn:hover {
  background-color: #e34444 !important;
  color: white !important;
}

.btn--search {
  padding: 0 20px;
  color: #e34444;
}

.btn--primary {
  border: 1px solid rgba(153, 153, 153, 0.5);
}

.btn--primary:hover {
  border: 1px solid #e34444;
}

.btn--black {
  display: inline-block;
  background-color: #333 !important;
  color: white;
}

.btn--sizeS {
  padding: 8px 26px;
}

.btn--sizeL {
  padding: 8px 48px;
}

.btn--full-size {
  width: 100%;
}

.btn + .btn {
  margin-top: 12px;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  font-family: 'Poppins', sans-serif;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1.6;
  color: inherit;
  font-family: 'Poppins-Light';
}

ol, ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
}

form, fieldset {
  padding: 0;
}

form, fieldset, input, button {
  border: none;
  margin: 0;
  display: block;
}

label {
  margin: 0;
  color: #9a9a9a;
  position: relative;
  padding-left: 6px;
  text-transform: capitalize;
}

@-webkit-keyframes mymove {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  25% {
    -webkit-transform: translateX(-75%);
            transform: translateX(-75%);
  }
  50% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  75% {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes mymove {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  25% {
    -webkit-transform: translateX(-75%);
            transform: translateX(-75%);
  }
  50% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  75% {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
  z-index: 9999;
}

.header__logo {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header__service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 1 ease;
  transition: 1 ease;
}

.header__service:hover .header__icon::after {
  height: 100%;
}

.header__service:hover .header__icon i {
  color: white;
}

.header__icon {
  margin: 0 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
}

.header__icon i {
  line-height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #666;
  font-size: 1.6rem;
  z-index: 1;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.header__icon::after {
  content: "";
  width: 100%;
  height: 0;
  background-color: #e34444;
  position: absolute;
  bottom: 0;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.header__content p {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.header__content span {
  font-size: 1.2rem;
}

.header__bottom {
  z-index: 555;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__bottom::after, .header__bottom::before {
  content: "";
  height: 3px;
  width: 100%;
  background: url("../images/double-dotted.png");
}

.header__bottom::after {
  position: absolute;
  top: 0;
}

.header__bottom::before {
  position: absolute;
  bottom: 0;
}

.header__nav {
  z-index: 99999;
}

.header__nav i {
  display: none;
}

.header__li {
  font-size: 1.4rem;
  font-weight: bold;
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__li > a {
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__li a {
  color: #333;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.header__li:hover > a {
  color: #e34444;
}

.header__li:hover .header__drop {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.header__li:hover .arrow::after {
  opacity: 1;
  visibility: visible;
}

.header__li:hover .arrow::before {
  opacity: 1;
  visibility: visible;
}

.header__list {
  position: relative;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.header__sub, .header__drop {
  border: 1px solid #eaeaea;
  min-width: 220px;
  padding: 15px 0;
  background-color: white;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  position: absolute;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  top: calc(100% - 3px);
  left: 0;
}

.header__sub a, .header__drop a {
  font-size: 1.2rem;
  font-weight: lighter;
  padding: 2px 0;
  color: #666;
  display: block;
  width: 100%;
  line-height: 1.6;
}

.header__sub li, .header__drop li {
  cursor: pointer;
}

.header__sub li:hover > a, .header__drop li:hover > a {
  color: #e34444;
}

.header__drop a {
  padding: 2px 16px;
}

.header__li:hover .header__sub {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.header__sub {
  left: 0;
  right: 0;
  padding: 30px 25px 24px;
}

.header__sub > a {
  padding: 2px 5px;
}

.header__sub h4 {
  padding: 5px;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 15px;
}

.header__sub img {
  width: 100%;
}

.header__img {
  overflow: hidden;
  margin-bottom: 20px;
}

.header__img img {
  display: block;
}

.header__info-bad h3 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.header__info-bad p {
  font-size: 1.2rem;
  font-weight: lighter;
}

.header__info-Product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__search, .header__cart {
  font-size: 1.6rem;
  color: #666;
  cursor: pointer;
  padding: 0 36px;
}

.header__search i, .header__cart i {
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search:hover .header__search-box {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}

.header__cart {
  position: relative;
}

.header__cart .header__cart:hover .arrow::after {
  opacity: 1;
  visibility: visible;
}

.header__cart:hover .arrow::before {
  opacity: 1;
  visibility: visible;
}

.header__search-box {
  opacity: 0;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  top: 3px;
  left: 0;
  right: 0;
  bottom: 3px;
}

.header__search-box input {
  outline: none;
  padding: 0 30px;
  width: 100%;
  height: 54px;
  font-size: 1.3rem;
  color: #333;
  margin-top: -2px;
}

.header__slick {
  width: 100%;
}

.header__slick div,
.header__slick a,
.header__slick img {
  width: 100%;
  display: block;
}

.header__slick .slick-dots {
  bottom: 15px;
}

.header__slick .slick-dots li button:before {
  content: "";
  width: 10px;
  height: 10px;
  border: 2px solid #6a6a6a;
  border-radius: 0;
  background: #fff;
  opacity: 1;
}

.header__slick .slick-dots li.slick-active button:before {
  background: #e34444;
  border: 2px solid #e34444;
}

.bar {
  width: 25px;
  height: 50px;
  line-height: 50px;
  font-size: 25px;
  text-align: left;
  margin: 0 10px 0 0;
  color: #666;
  display: none;
}

.cart ul {
  padding: 0 20px;
  max-height: 330px;
  overflow-y: scroll;
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.cart ul::-webkit-scrollbar {
  width: 16px;
}

.cart ul::-webkit-scrollbar-track {
  background-color: #fff;
}

.cart ul::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.cart ul::-webkit-scrollbar-thumb:hover {
  background-color: #6a6a6a;
}

.cart ul::-webkit-scrollbar-button {
  display: none;
}

.cart li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart li + li {
  margin-top: 20px;
}

.cart:hover .cart__wh {
  opacity: 1;
  visibility: visible;
}

.cart__wh {
  z-index: 3;
  border: 1px solid #eaeaea;
  min-width: 300px;
  padding: 15px 0;
  background-color: white;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  position: absolute;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  right: 10px;
}

.cart__wh i {
  height: auto;
}

.cart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
}

.cart__img {
  overflow: hidden;
  margin-right: 15px;
  height: 105px;
  width: auto;
  border: 1px solid #eaeaea;
}

.cart__img img {
  height: 100%;
}

.cart__item-title {
  font-size: 13px;
  color: #666666;
}

.cart__item-price {
  font-size: 15px;
  font-weight: 700;
  color: #333333;
}

.cart__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  margin: 20px 0;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  text-align: left;
  font-size: 1.167em;
}

.cart strong {
  font-weight: 700;
  color: #333333;
}

.cart__btn {
  padding: 0 20px;
}

.cart__close {
  cursor: default;
}

.cart__close i {
  font-size: 16px;
  cursor: pointer;
  padding: 10px 4px;
}

.cart:hover .cart__wh {
  opacity: 1;
  visibility: visible;
}

.baner {
  margin-bottom: -50px;
}

.sale a,
.sale img {
  width: 100%;
  height: 100%;
  display: block;
}

.slick-slide img {
  width: 100%;
}

.product__for {
  margin-bottom: 20px;
  padding: 0 10px;
}

.product__list {
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0 0 0;
}

.product__list a {
  color: #333;
}

.product__nav {
  display: none;
}

.product__nav.active {
  display: block;
}

.product__item {
  overflow: hidden;
}

.product__img {
  border: 1px solid rgba(136, 136, 136, 0.4);
  position: relative;
  margin-bottom: 8px;
}

.product__img img {
  display: block;
  width: 100%;
}

.product__add {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.product__cart, .product__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.product__cart i, .product__icon i {
  font-size: 12px;
  padding: 5px;
}

.product__cart {
  font-size: 15px;
  background-color: #333;
  -webkit-transform: translateX(calc(100% + 5px));
          transform: translateX(calc(100% + 5px));
}

.product__cart a {
  color: #fff;
  line-height: 35px;
  padding: 5px;
}

.product__cart:hover {
  background-color: #e34444;
}

.product__cart:hover i {
  -webkit-animation: mymove 0.75 infinite;
          animation: mymove 0.75 infinite;
}

.product__icon {
  background: #fff;
  border-top: 1px solid rgba(153, 153, 153, 0.4);
  padding: 8px 10px;
  line-height: 35px;
}

.product__icon:hover {
  color: #e34444;
}

.product__other {
  -webkit-transform: translateX(-101%);
          transform: translateX(-101%);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__item:hover .product__other,
.product__item:hover .product__cart {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.product__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__title {
  font-size: 1.3rem;
  font-weight: 300;
}

.product__old-price {
  font-size: 1.3rem;
  font-weight: 300;
  margin-right: 8px;
  position: relative;
}

.product__old-price::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #666;
  top: 50%;
  right: 0;
  -webkit-transform: rotate(350deg);
          transform: rotate(350deg);
}

.product__sale-price {
  font-size: 1.5rem;
  font-weight: 800;
}

.product__btn {
  margin: 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.newpr {
  padding: 40px 40px 40px;
  background-color: #f0f0f0;
}

.newpr__item {
  padding-left: 3rem;
}

.newpr__title {
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 5px;
}

.newpr__status {
  font: size 1.4em;
  font-weight: 400;
}

.newpr p {
  padding: 15px 0;
  font-size: 1.2rem;
  font-weight: 300;
}

.suggest__title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.suggest .product__list {
  border-top: 1px solid rgba(153, 153, 153, 0.4);
  border-right: 1px solid rgba(153, 153, 153, 0.4);
  border-bottom: 1px solid rgba(153, 153, 153, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.suggest .product__list:first-child {
  border: 1px solid rgba(153, 153, 153, 0.4);
}

.suggest__img img {
  max-height: 70px;
  display: block;
}

.suggest p {
  font-size: 1rem;
}

.suggest .index2.active {
  position: relative;
}

.suggest .index2.active::before {
  content: "";
  width: 100%;
  height: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 2px;
  background-color: #333;
  position: absolute;
  bottom: -2px;
  left: 50%;
}

.suggest .index2.active::after {
  content: "";
  display: block;
  border: 10px solid;
  width: 0;
  height: 0;
  border-color: #333 transparent transparent transparent;
  position: absolute;
  bottom: -1px;
  left: 50%;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
}

.most__prd {
  margin-top: 15px;
}

.most__title {
  position: relative;
  overflow: hidden;
}

.most__title h2 {
  font-size: 2rem;
  display: inline-block;
  text-transform: uppercase;
}

.most__title:after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgba(153, 153, 153, 0.4);
  position: absolute;
  top: 50%;
  left: 170px;
  width: calc(100% - 250px);
  left: 164px;
}

.most img {
  border: 1px solid rgba(153, 153, 153, 0.4);
}

.most img:hover {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  border: 1px solid #e34444;
}

.most__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 12px;
}

.most__cart i {
  margin-right: 4px;
}

.most__cart a,
.most__cart i {
  font: size 12px;
  color: #888888;
}

.most .product__title {
  color: #666;
  font-size: 1.3rem;
}

.most .product__title:hover,
.most__cart:hover a,
.most__cart:hover i {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  color: #e34444;
}

.most .slick-next {
  right: 10px;
}

.most .slick-prev {
  left: calc(100% - 80px);
}

.most .slick-arrow {
  border: 1px solid rgba(153, 153, 153, 0.4);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  background-color: white;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  height: 30px;
  width: 30px;
  top: -30px;
}

.most .slick-arrow:before {
  display: none;
}

.most .slick-arrow i {
  font-size: 13px;
  color: rgba(153, 153, 153, 0.4);
}

.most .slick-arrow:hover {
  background-color: #e34444;
}

.most .slick-arrow:hover i {
  color: #fff;
}

.most__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.most__num {
  margin-right: 15px;
  padding: 0 10px;
  text-align: center;
  width: 50px;
  height: 56px;
  border: 1px solid #eaeaea;
}

.most__num span {
  font-size: 12px;
  color: #444;
}

.most__num span.most__three {
  display: block;
  padding-top: 8px;
  margin-bottom: 2px;
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px;
  line-height: 1;
}

.most__info a span {
  text-transform: capitalize;
  font-size: 12px;
  color: #e34444;
}

.most__info a h4 {
  color: #333;
  margin-bottom: 13px;
}

.most__info p {
  color: #777;
  font-size: 12px;
}

.most__border {
  display: block;
  padding-bottom: 40px;
  border-bottom: 1px solid sgba(#999, 0.4);
}

.most .product__img {
  margin: 0;
  border: none;
}

.footer__top {
  padding: 45px 0;
  background-color: #f8f8f6;
}

.footer h3 {
  font-size: 1.6rem;
  color: #333;
}

.footer p,
.footer a {
  line-height: 1.6;
  color: #999;
  font-size: 1.2rem;
}

.footer input {
  max-width: 100%;
  width: 100%;
  font-size: 1.6rem;
  padding: 8px;
  margin: 20px 0;
  outline: none;
  border: 1px solid #eaeaea;
}

.footer__iterm {
  margin-top: 24px;
}

.footer__iterm li {
  margin-bottom: 15px;
}

.footer__iterm a {
  width: 100%;
  display: block;
}

.footer__iterm li:hover a {
  margin-left: 10px;
  color: #e34444;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__contact:hover .footer__icon {
  border: 1px solid #e34444;
}

.footer__contact:hover .footer__icon i {
  color: #e34444;
}

.footer__address {
  color: #999;
  font-size: 1.3rem;
}

.footer__address p {
  line-height: 1.6;
}

.footer__icon {
  height: 35px;
  width: 35px;
  margin-right: 20px;
  border-radius: 50%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #999;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  border: 1px solid #eaeaea;
}

.footer__icon p {
  line-height: 35px;
  color: #999;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 35px;
  color: #999;
  font-size: 1.2rem;
}

.footer__icon i {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.footer__btn a {
  color: #fff;
  display: inline-block;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
}

@media screen and (max-width: 1180px) {
  .header {
    line-height: 1;
  }
  .header a,
  .header h2,
  .header h3,
  .header h4,
  .header p {
    margin: 0;
    line-height: 1.6;
    padding: 12px 0;
    font-size: 1.2em !important;
    font-weight: 300;
  }
  .header__bottom::after {
    z-index: -1;
  }
  .header__bar {
    display: block;
  }
  .header__nav {
    -webkit-transform: translateX(-105%);
            transform: translateX(-105%);
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    min-width: 250px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #222;
    padding: 15px;
    max-width: 400px;
  }
  .header__nav a,
  .header__nav li {
    color: #999;
    font-size: 1.2rem;
    font-weight: 300;
  }
  .header__nav li {
    font-size: 1.2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__nav a {
    border-bottom: 1px solid #393939;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__nav i {
    display: inline-block;
  }
  .header__nav img {
    display: none;
    border: none;
  }
  .header__li > a {
    height: auto;
  }
  .header__img {
    display: none;
  }
  .header__img a,
  .header__img img {
    display: none;
    border: none;
  }
  .header__sub, .header__drop {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    overflow: hidden;
    max-height: 000px;
    opacity: 1;
    visibility: visible;
  }
  .header__drop {
    position: relative;
    padding: 0;
    top: 0;
    background: #222;
    border: none;
    margin-left: 15px;
  }
  .header__sub {
    margin-left: 15px;
    background: #222;
    position: relative;
    border: none;
    padding: 0;
    top: 0;
  }
  .header__sub h4 {
    border-bottom: 1px solid #393939;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__sub-img {
    display: none;
  }
  .header__sub ul {
    overflow: hidden;
    margin-left: 15px;
    max-height: 000px;
  }
  .header__info-bad {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__info-bad h3 {
    width: 100%;
    border-bottom: 1px solid #393939;
    font-size: 1.2rem;
    font-weight: 300;
  }
  .header__info-bad p {
    display: none;
  }
  .header .arrow::after,
  .header .arrow::before {
    display: none;
  }
  .header .bar {
    display: inline-block;
  }
}

@media screen and (max-width: 980px) {
  .index.active::after,
  .index.active::before {
    display: none;
  }
  .grid {
    width: 750px;
    padding: 0 20px;
  }
  .header__logo {
    width: 33.33%;
  }
  .header__content {
    display: none;
  }
  .product .bar {
    display: inline-block;
  }
  .product__for {
    display: none;
    z-index: 9999;
    position: absolute;
    top: 40px;
    left: 4px;
    margin: 0;
    padding: 0;
    background-color: white;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
    flex-direction: column;
    border: 1px solid #eaeaea;
    min-width: 169px;
  }
  .product__for li {
    margin: 0;
    padding: 0;
  }
  .product__for a,
  .product__for p {
    font-size: 1.3rem;
    padding: 8px 12px;
  }
  .product__list.active {
    background-color: #337ab7;
  }
  .product__list.active a,
  .product__list.active p {
    color: #fff;
  }
  .suggest .bar {
    display: block;
  }
  .suggest .index2.active::after,
  .suggest .index2.active::before {
    display: none;
  }
  .suggest .product__for img {
    display: none;
  }
  .suggest .product__list {
    width: 100%;
    border: none !important;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__iterm1 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .footer__iterm2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .product__for.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .col-l-2 {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .header__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__left {
    margin-top: 24px;
    width: 100%;
  }
  .header__left > div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .baner {
    margin-bottom: 24px;
  }
  .col-m-1 {
    width: 100%;
  }
  .col-m-2 {
    width: 50%;
  }
  .mb-30-m {
    margin-bottom: 30px !important;
  }
  .btn--full-width-m {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .newpr__title {
    font-size: 3rem;
  }
  .col-s-1 {
    width: 100%;
  }
  .mb-30-s {
    margin-bottom: 30px;
  }
}
/*# sourceMappingURL=style.css.map */