.footer {
    &__top {

        padding: 45px 0;
        background-color: #f8f8f6;
    }
    h3 {
        font-size: 1.6rem;
        color: #333;
    }
    p,
    a {
        line-height: 1.6;
        color: #999;
        font-size: 1.2rem;
    }

    input {
        max-width: 100%;
        width: 100%;
        font-size:1.6rem;
        padding: 8px;
        margin: 20px 0;
        outline:none;
        border: 1px solid #eaeaea;
    }

    &__iterm {
        margin-top: 24px;
        li {
            margin-bottom: 15px;
        }
        a {
            width: 100%;
            display: block;
        }
        li:hover a {
            margin-left: 10px;
            color: $primarily-color;
            transition: all 0.25s ease-in-out;
        }
    }

    &__contact {
        display: flex;
        align-items: center;
        &:hover .footer__icon {
            border: 1px solid $primarily-color;
            i {
                color: $primarily-color;
            }
        }
    }

    &__address {
        color: #999;
        font-size: 1.3rem;
        p {
            line-height: 1.6;
        }
    }
    &__icon {
        height: 35px;
        width: 35px;
        margin-right: 20px;
        border-radius: 50%;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #999;

        transition: all 0.25s ease-in-out;
        border: 1px solid #eaeaea;
        p {
            line-height: 35px;
            color: #999;
            font-size: 1.2rem;
            display: flex;
            justify-content: center;
            line-height: 35px;
            color: #999;
            font-size: 1.2rem;
        }
        i {
            transition: all 0.25s ease-in-out;
        }
    }
    &__btn {
        a {
            color: #fff;
            display: inline-block;
        }
    }

    &__bottom {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;

    }
}
