.header {
    // display: flex;
    // z-index: 10;
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0;
        z-index: 9999;
    }

    &__logo {
        width: 25%;
        display: flex;
        justify-content: center;
    }
    &__left {
        display: flex;
        justify-content: space-between;
        flex: 1;
    }
    &__service {
        display: flex;
        transition: 1 ease;
    }
    &__service:hover &__icon::after {
        height: 100%;
    }
    &__service:hover &__icon i {
        color: white;
    }

    &__icon {
        margin: 0 10px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;
        i {
            line-height: 40px;
            justify-content: center;
            color: #666;
            font-size: 1.6rem;
            z-index: 1;
            transform: rotateY(180deg);
        }
        &::after {
            content: "";
            width: 100%;
            height: 0;
            background-color: #e34444;
            position: absolute;
            bottom: 0;
            transition: all 0.25s ease-in-out;
        }
    }

    &__content {
        p {
            font-size: 1.4rem;
            text-transform: uppercase;
        }
        span {
            font-size: 1.2rem;
        }
    }

    &__bottom {
        z-index: 555;
        height: 56px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        &::after,
        &::before {
            content: "";
            height: 3px;
            width: 100%;
            background: url("../images/double-dotted.png");
        }
        &::after {
            position: absolute;
            top: 0;
        }
        &::before {
            position: absolute;
            bottom: 0;
        }
    }
    &__nav {
        z-index: 99999;
        i {
            display: none;
        }
    }
    &__li {
        font-size: 1.4rem;
        font-weight: bold;
        position: static;
        display: flex;
        align-items: center;

        > a {
            height: 54px;

            display: flex;
            align-items: center;
        }

        a {
            color: #333;
            transition: all 0.25s ease-in-out;
        }
        &:hover > a {
            color: #e34444;
        }
    }
    &__li:hover &__drop {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    // &__li:hover &__list::after {
    //     opacity: 1;
    //     visibility: visible;
    // }
    // &__li:hover &__list::before {
    //     opacity: 1;
    //     visibility: visible;
    // }
    &__li:hover .arrow::after {
        opacity: 1;
        visibility: visible;
    }
    &__li:hover .arrow::before {
        opacity: 1;
        visibility: visible;
    }
    &__list {
        position: relative;
        transition: all 0.25s ease-in-out;
        // &::after,
        // &:before {
        //     content: "";
        //     display: block;
        //     width: 0;
        //     height: 0;
        //     border: 15px solid;
        //     position: absolute;
        //     transform: translate(-50%, -50%);
        //     z-index: 2;
        //     opacity: 0;
        //     transition: all 0.15s ease-in-out;
        //     // visibility: hidden;
        // }

        // &::after {
        //     border-color: transparent transparent red transparent;
        //     left: 50%;
        //     top: 26px;
        // }
        // &::before {
        //     border-color: transparent transparent rgba($color: blue, $alpha: 0.3) transparent;
        //     left: calc(50% + 1px);
        //     top: 25px;
        // }
    }
    &__sub,
    &__drop {
        border: 1px solid #eaeaea;
        min-width: 220px;
        padding: 15px 0;
        background-color: white;
        transform: translateY(30px);
        transition: all 0.25s ease-in-out;
        // background-color: blue;
        position: absolute;
        z-index: 10;
        opacity: 0;
        visibility: hidden;
        top: calc(100% - 3px);
        left: 0;
        a {
            font-size: 1.2rem;
            font-weight: lighter;
            // padding: 2px 16px; // tat do lam lech drop
            padding: 2px 0;
            color: #666;
            display: block;
            width: 100%;
            line-height: 1.6;
        }
        li {
            cursor: pointer;
        }
        li:hover > a {
            color: #e34444;
        }
    }
    &__drop {
        a {
            padding: 2px 16px;
        }
    }
    &__li:hover &__sub {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    &__sub {
        left: 0;
        right: 0;
        padding: 30px 25px 24px;
        > a {
            padding: 2px 5px;
        }

        h4 {
            padding: 5px;
            border-bottom: 1px solid #eaeaea;
            margin-bottom: 15px;
        }
        img {
            width: 100%;
        }
    }
    &__img {
        overflow: hidden;
        margin-bottom: 20px;
        img {
            display: block;
        }
    }
    &__info-bad {
        h3 {
            font-size: 1.3rem;
            font-weight: bold;
            margin-bottom: 10px;
        }
        p {
            font-size: 1.2rem;
            font-weight: lighter;
        }
    }

    &__info-Product {
        display: flex;
    }

    &__search,
    &__cart {
        font-size: 1.6rem;
        color: #666;
        cursor: pointer;
    }
    &__search {
        padding-right: 20px;
    }
    &__search:hover &__search-box {
        opacity: 1;
        visibility: visible;
        z-index: 2;
    }
    &__cart {
        padding-left: 20px;
        z-index: -1;
    }
    &__cart:hover .arrow::after {
        opacity: 1;
        visibility: visible;
    }
    &__cart:hover .arrow::before {
        opacity: 1;
        visibility: visible;
    }

    &__search-box {
        opacity: 0;
        visibility: hidden;
        display: flex;
        position: absolute;
        transition: all 0.25s ease-in-out;
        top: 3px;
        left: 0;
        right: 0;
        bottom: 3px;
        input {
            outline: none;
            padding: 0 30px;
            width: 100%;
            height: 54px;
            font-size: 1.3rem;
            color: #333;
            margin-top: -2px;
        }
    }
    &__slick {
        width: 100%;
        div,
        a,
        img {
            width: 100%;
            display: block;
        }
        .slick-dots {
            bottom: 15px;
        }
        .slick-dots li button:before {
            content: "";
            width: 10px;
            height: 10px;
            border: 2px solid #6a6a6a;
            border-radius: 0;
            background: #fff;
            opacity: 1;
        }
        .slick-dots li.slick-active button:before {
            background: #e34444;
            border: 2px solid #e34444;
        }
    }
}

.bar {
    width: 25px;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    text-align: left;
    margin: 0 10px 0 0;
    color: #666;
    display: none;
}
