.most {
    &__prd {
        margin-top: 15px;
    }
    &__title {
        position: relative;
        overflow: hidden;
        h2 {
            font-size: 2rem;
            display: inline-block;
            text-transform: uppercase;
        }
        &:after {
            content: "";
            // z-index: -1;
            width: 100%;
            height: 1px;
            background-color: rgba(#999, 0.4);
            position: absolute;
            top: 50%;
            left: 170px;
            // transform: translatetX()

            width: calc(100% - 250px);
            left: 164px;
        }
    }
    img {
        border: 1px solid rgba(#999, 0.4);
    }
    img:hover {
        transition: all 0.25s ease-in-out;
        border: 1px solid $primarily-color;
    }
    &__cart {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 12px;
        i {
            margin-right: 4px;
        }
        a,
        i {
            font: size 12px;
            color: #888888;
        }
    }
    .product__title {
        color: #666;
        font-size: 1.3rem;
    }
    .product__title:hover,
    &__cart:hover a,
    &__cart:hover i {
        transition: all 0.25s ease-in-out;
        color: $primarily-color;
    }
    // slick
    .slick-next {
        right: 10px;
    }
    .slick-prev {
        left: calc(100% - 80px);
    }
    .slick-arrow {
        border: 1px solid rgba(#999, 0.4);
        transition: all 0.25s ease-in-out;
        background-color: white;
        transform: translate(0, -50%);
        height: 30px;
        width: 30px;
        &:before {
            display: none;
        }
        top: -30px;

        i {
            font-size: 13px;
            color: rgba(#999, 0.4);
        }
        &:hover {
            i {
                color: #fff;
            }
            background-color: $primarily-color;
        }
    }
    &__content {
        display: flex;
    }
    &__num {
        margin-right: 15px;
        padding: 0 10px;
        text-align: center;
        width: 50px;
        height: 56px;
        border: 1px solid #eaeaea;
        span {
            font-size: 12px;
            color: #444;
        }
        span.most__three {
            display: block;
            padding-top: 8px;

            margin-bottom: 2px;
            color: #333;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 25px;
            line-height: 1;
        }
    }
    &__info {
        a {
            span {
                text-transform: capitalize;
                font-size: 12px;
                color: $primarily-color;
            }
            h4 {
                color: #333;
                margin-bottom: 13px;
            }
        }
        p {
            color: #777;
            font-size: 12px;
        }
    }
    &__border {
        display:block;
        padding-bottom: 40px ;
        border-bottom: 1px solid sgba(#999,0.4);
   }
}
