.newpr{
    padding: 40px 40px 20px;
    background-color: #f0f0f0;
    &__item {
        padding-left: 3rem ;
    }
    &__title {
        font-size: 50px;
        font-weight: 400;
        letter-spacing:5px;;
    }
    &__status {
        font: size 1.4em;
        font-weight:400;
    }
    p {
        padding: 15px 0;
        font-size:1.2rem;
        font-weight:300;
    }
}