.suggest {
    &__title {
        font-size: 2rem;
        color: #333;
        margin-bottom: 20px;
    }
    .product__list {
        &:first-child {
            border: 1px solid rgba(#999, 0.4);
        }
        border-top: 1px solid rgba(#999, 0.4);
        border-right: 1px solid rgba(#999, 0.4);
        border-bottom: 1px solid rgba(#999, 0.4);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__img {
        img {
            max-height: 70px;
            display: block;
        }
    }
    p {
        font-size: 1rem;
    }

    // chi muc cua content
    .index2.active {
        position: relative;
        &::before {
            content: "";
            width: 100%;
            height: 0;
            transform: translateX(-50%);
            // transform: translateY(100%);
            height: 2px;
            background-color: #333;
            position: absolute;
            // bottom: 32%;
            bottom: -2px;
            left: 50%;
        }
        &::after {
            content: "";
            display: block;
            border: 10px solid;
            width: 0;
            height: 0;
            border-color: #333 transparent transparent transparent;
            position: absolute;
            // bottom: 6%;
            bottom: -1px;
            left: 50%;
            transform: translate(-50%, 100%);
        }
    }
}
