.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto 40px;
    padding: 0 10px;
}
.w100 {
    width: 100%;
}
.ptb0 {
    padding-top: 0;
    padding-bottom: 0;
}
.p020 {
    padding: 0 20px !important;
}
.p0 {
    padding: 0 !important;
}
.pb0 {
    padding-bottom: 0 !important ;
}
.mb0 {
    margin-bottom: 0;
}
.mr24 {
    margin-right: 24px; 
}
.jc-center {
    display: flex;
    justify-content: center;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.row + .row {
    padding-top: 24px;
}
.col {
    padding: 0 10px;
    > a,
    img {
        display: block;
        width: 100%;
    }
}
.col-s {
    padding: 0 10px;
}
.col-1 {
    width: 100%;
}
.col-2 {
    width: 50%;
}
.col-3 {
    width: 33.3333%;
}
.col-4 {
    width: 25%;
}
.col-5 {
    width: 20%;
}
.col-9 {
    width: 11.111%;
}
.backdrop,
.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9998;
    display: none;
}
.overlay {
    background-color: #000000;
    opacity: 0.2;
}
.backdrop.active,
.overlay.active {
    display: block;
}
.header__list.active {
    color: #e34444 !important;
}
.show-js.active {
    transform: translateX(0);
}
.index.active {
    position: relative;
    &::before {
        content: "";
        width: calc(100%);
        transform: translateX(-50%);
        // transform: translateY(100%);
        height: 2px;
        background-color: #333;
        position: absolute;
        // bottom: 32%;
        bottom: 0;
        left: 50%;
    }
    &::after {
        content: "";
        display: block;
        border: 10px solid;
        border-color: #333 transparent transparent transparent;
        position: absolute;
        bottom: 6%;
        // bottom: 0;
        left: 50%;
        transform: translate(-50%, 105%);
    }
}
// tao man 2 dong xen ke

.interleaving {
    position: relative;
    padding: 0;
    margin: 0;
    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        transition: all 0.5s ease-in-out;
    }
    &:hover:after {
        right: 50%;
        left: 50%;
        background: rgba(255, 255, 255, 0.2);
    }
    &:hover:before {
        top: 50%;
        bottom: 50%;
        background: rgba(255, 255, 255, 0.2);
    }
}
//#BEGIN CERTAIN
.Curtain {
    display: block;
    position: relative;
    &::after,
    &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        transition: all 0.25s ease-in-out;
        z-index: 2;
    }
    &::after {
        left: 0;
        right: 100%;
    }
    &::before {
        right: 0;
        left: 100%;
    }
}
.Curtain:hover::after {
    background-color: rgba(0, 0, 0, 0.3);
    right: 50%;
}
.Curtain:hover::before {
    background-color: rgba(0, 0, 0, 0.3);
    left: 50%;
}
//
.border {
    position: relative;
    display: block;
    &::before {
        content: "";
        position: absolute;
        transform: scale(0, 0);
        z-index: 2;
        top: 15px;
        bottom: 15px;
        left: 15px;
        right: 15px;
        transition: all 0.25s ease-in-out;
    }
    &::after {
        content: "";
        position: absolute;
        transition: all 0.25s ease-in-out;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 1;
    }
}
.border:hover:before {
    border: 1px solid rgba(255, 255, 255, 0.8);
    transform: scale(1);
}

.border:hover:after {
    transform: scale(1);
    background-color: rgba(0, 0, 0, 0.3);
}
//
.border--right {
    border-right: 1px solid #eaeaea;
}
// ON SALES
.on-sale {
    position: relative;
    overflow: hidden;
    &::before {
        content: "sale!";
        background: $primarily-color;
        padding: 1px 40px;
        text-transform: uppercase;
        color: white;
        font-size: 9px;
        font-weight: 300;
        position: absolute;
        top: 5px;
        right: -40px;

        z-index: 6;
        transform: rotate(45deg);
    }
}
.Plus {
    position: relative;
    display: block;
    &::before {
        background: url(../images/plus.png) no-repeat scroll center center / 60px 60px
            rgba(0, 0, 0, 0.3);
        content: "";
        opacity: 0;
        visibility: hidden;
        z-index: 2;
        position: absolute;
        transform: scale(0.4) rotateY(180deg);
        transition: all 0.25s ease-in-out;
        height: 100%;
        width: 100%;
    }
}
.Plus:hover:before {
    transform: scale(1) rotate(0deg);
    opacity: 0.6;
    visibility: visible;
}
.NoPad {
    padding: 0 !important;
}
.scale {
    display: block;
    position: relative;
    transform: scale(1, 1);
    &::after {
        content: "";
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.3);
        transition: all 0.25s ease-in-out;
    }
    &:hover {
        transform: scale(1.1, 1.1);
    }
    &:hover::after {
        opacity: 1;
        visibility: visible;
    }
}

.posiRe {
    position: relative !important;
}
.arrow {
    position: relative;
    &::after,
    &::before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border: 15px solid;
        position: absolute;
        transform: translate(-50%, -50%);
        z-index: 2;
        opacity: 0;
        transition: all 0.15s ease-in-out;
        // visibility: hidden;
    }
    &::after {
        border-color: transparent transparent red transparent;
        left: 50%;
        top: 26px;
    }
    &::before {
        border-color: transparent transparent rgba($color: blue, $alpha: 0.3) transparent;
        left: calc(50% + 1px);
        top: 25px;
    }
    // &::after {
    //     border-color: transparent transparent red transparent;
    //     left: 50%;
    //     top: 26px;
    // }
    // &::before {
    //     border-color: transparent transparent rgba($color: blue, $alpha: 0.3) transparent;
    //     left: calc(50% + 1px);
    //     top: 25px;
    // }
}

.stick {
    position: relative;
    &::after {
        content: "";
        width: 1px;
        height: 20px;
        background-color: rgba(153, 153, 153, 0.383);
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    &--left {
        &::after {
            left: 0;
        }
    }
    &--right {
        &::after {
            right: 0;
        }
    }
    &--sizeL {
        &::after {
            height: 70%;
        }
    }
}
.block {
    display: block;
}

.open {
    max-height: 1000px !important;
    transition: all 0.25s ease;
}

@media screen and (max-width: 1180px) {
    .row-xl {
        flex-direction: column;
    }
    .col-xl-1 {
        width: 100%;
    }
    .displayNone-xl {
        display:none;
    }
}